@model IEnumerable<Site>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Sites</h1>
<ul>
    @foreach (var site in Model)
    {
        <ul><a href="/building/@site.Id">@site.Name</a></ul>
    }
</ul>