<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/e8887922-1bdd-4857-b45b-c2145fbcfe59/resourcegroups/VisionProApp20240206233829ResourceGroup/providers/Microsoft.Web/sites/VisionProApp20240206233829</ResourceId>
    <ResourceGroup>VisionProApp20240206233829ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://visionproapp20240206233829.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9c83381e-6a91-4f9b-8f36-8bdd5fd877e4</ProjectGuid>
    <PublishUrl>https://visionproapp20240206233829.scm.azurewebsites.net/</PublishUrl>
    <UserName>$VisionProApp20240206233829</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>